
$font-stack: 'courier new', courier, monospace;



// $light-pink: #FFD9DA;
// $dark-pink:#EA638C;
// $darker-pink:#89023E;
// $grey:#30343F;
// $dark-grey: #1B2021;



$dark-mode: true;

@mixin theme {
  @if $dark-mode {
    --bg-color: #1B2021;
    --text-color:#FFD9DA;
    --primary-color:#EA638C;
    --secondary-color:#89023E;
    --accent-color:#30343F;
  }
    @else {
    --bg-color: #FFD9DA;
    --text-color: #1B2021;
    --primary-color:#89023E;
    --secondary-color:#EA638C;
    --accent-color:#30343F;
    }
  }
  
  :root {
    @include theme;
}

:root {
  @include theme;
  --gradient-shadow: linear-gradient(
    45deg,
    #590D22,
    #800F2F,
    #A4133C,
    #C9184A,
    #FF4D6D,
    #FF758F,
    #FF8FA3,
    #FFB3C1,
    #FFCCD5, 
    #FFF0FE
  );
}